@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background: #000000;
}
.login-page {
	height: 100vh;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}
.form {
	position: relative;
	filter: drop-shadow(0 0 2px #000000);
	border-radius: 5px;
	width: 360px;
	height: 420px;
	background-color: #ffffff;
	padding: 40px;
}
.form input {
	outline: 0;
	background: #f2f2f2;
	border-radius: 4px;
	width: 100%;
	border: 0;
	margin: 15px 0;
	padding: 15px;
	font-size: 14px;
}
.form input:focus {
	box-shadow: 0 0 5px 0 rgba(106, 98, 210);
}
.message {
	margin: 15px 0;
	text-align: center;
}
.form .message a {
	font-size: 14px;
	color: #6a62d2;
	text-decoration: none;
}
#login-button {
	background-color: #ff8f1f;; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
	font-size: 16px;
	/* margin: 4px 2px; */
	cursor: pointer;
	border-radius: 12px;
	display: block;
    margin: 0 auto;
}
.form label {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
}